#p1 {
    background-color: skyblue;
}

#p2 {
    background-color: brown;
}

#inline-elements p {
    display: inline;
    }
#inline-p1 {
    background-color: red;
}
#inline-p2 {
    background-color: gold;
}

#inline-block-elements li {
    display: inline;
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: violet;
    
}

#display-none {
    display: none;
}


