#name:hover {
    background-color: aquamarine;
}

#name:focus {
color: red;
}

.customer:first-child {
    font-size: 2em;
}

.customer:nth-child(4) {
    color: red;
}

.customer:nth-last-of-type(4) {
    color: mediumvioletred;
}
.customer:nth-child(odd) {
    background-color: greenyellow;
}





