* {
    color: lightgray;
}
p {
    color: orange;
}
#kasia {
    color: pink;
}
.lorak {
    color: blue;
}
ul a {
    color: red;
}

a > span {
    background-color: beige;
    
}

li#pierwszy + li {
    background-color: ghostwhite;
}
div.lorak {
    color: aqua;
}








